<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/layout :: page">

<head th:replace="layout/header"></head>

<body>
<div th:fragment="content">

    <div class="container">

        <div class="row">
            <h2>Edit Customer</h2>
        </div>

        <div class="row">


            <div class="panel panel-info">

                <div class="panel-heading">Edit customer details</div>
                <div class="panel-body">

                    <form action="#" th:action="@{/customer/save/}" th:object="${customer}" method="post">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                            <p>Please rectify the following issues:- </p>
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>

                        </div>

                        <input type="hidden" th:field="*{id}" name="id"/>

                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                                   placeholder="First Name"/>
                        </div>

                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                                   placeholder="Last Name"/>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                   placeholder="Email"/>
                        </div>

                        <button type="submit" class="btn btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>