<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/layout :: page">

<head th:replace="layout/header"></head>

<body>
<div th:fragment="content">

    <div class="container">

        <div class="row">
            <h2>List all the customerss</h2>



            <div class="row" th:if="${#lists.size(customers) <= 0}">
            <div class="alert alert-info" role="alert">
                There are currently no customers, <a href="#" th:href="@{/customer/add}">why not add a new customer?</a>
            </div>
        </div>

        <div class="row" th:if="${#lists.size(customers) > 0}">

            <div class="panel panel-info">

                <div class="panel-heading">Customer List</div>
                <div class="panel-body">

                    <div class="container">

                        <div class="row">

                    <form action="#" th:action="@{/customer/search}" th:object="${searchForm}" method="post" class="form-inline">

                        <div class="form-group">
                            <label for="searchName">Search by name:</label>
                            <input type="text" th:field="*{searchName}" class="form-control" id="searchName"
                                   placeholder="Enter a name innit"/>

                        </div>

                        <button type="submit" class="btn btn btn-primary">Submit</button>

                    </form>
                        </div>
                        <br>
                        <div class="row">

                    <!-- ouput the table here -->
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email Address</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" th:each="customer : ${customers}">
                            <td th:text="${customer.firstName}"></td>
                            <td th:text="${customer.lastName}"></td>
                            <td th:text="${customer.email}"></td>
                            <td>
                                <a href="#" th:href="@{/customer/edit(customerId=${customer.id})}"> <span
                                        class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <a href="#" class="text-danger" data-toggle="modal" th:attr="data-target='#myModal_'+${customer.id }"> <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span></a>
                                <!-- Modal -->
                                <div class="modal fade" th:id="'myModal_' + ${customer.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Are you sure you wish to delete customer?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p th:text="'First name: ' + ${customer.firstName}"></p>
                                                <p th:text="'Last name: '+ ${customer.lastName}"></p>
                                                <p th:text="'Email: ' + ${customer.email}"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                <a href="#" th:href="@{/customer/delete(customerId=${customer.id})}" class="btn btn-danger" role="button"> Delete </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>